.bgimage{
    position: relative;
}
.overlay {
    position: absolute; 
    background: rgba(57, 57, 57, 0.5);
  
    /* center overlay text */
   
  
  }
  
  .overlay_1 {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px;
  }
  .h{
    height: 450px;
  }
  
 


   
     
 
